/* Image overlay */

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 1.5rem;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.25); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;

  /* Container needed to position the overlay. Adjust the width as needed */
  &__container {
    position: relative;

    /* When you mouse over the container, fade in the overlay title */
    &:hover {
      & .overlay {
        opacity: 1;
      }

      & .img-fluid {
        opacity: 0.3;
      }
      & .overlay__middle {
        opacity: 1;
      }
    }
  }

  &__middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  &__summary {
    bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 32px;
    padding: 32px 64px;
  }
}
