{{ define "main" }}
    <div class="container">
        {{ partial "jumbotron.html" . }}

        <div class="embla">
            <div class="embla__viewport">
              <div class="embla__container">
                <div class="embla__slide">
                  <img class="img-fluid" src="images/petites-mains-01.jpg" />
                </div>
                <div class="embla__slide">
                  <img class="img-fluid" src="images/petites-mains-02.jpg" />
                </div>
                <div class="embla__slide">
                  <img class="img-fluid" src="images/petites-mains-03.jpg" />
                </div>
                <div class="embla__slide">
                  <img class="img-fluid" src="images/petites-mains-04.jpg" />
                </div>
                <div class="embla__slide">
                  <img class="img-fluid" src="images/petites-mains-05.jpg" />
                </div>
              </div>
            </div>
      
            <!-- Buttons -->
            <button class="embla__button embla__button--prev" type="button">
              <svg
                class="embla__button__svg"
                viewBox="137.718 -1.001 366.563 643.999"
              >
                <path
                  d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
                ></path>
              </svg>
            </button>
            <button class="embla__button embla__button--next" type="button">
              <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                <path
                  d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
                ></path>
              </svg>
            </button>
          </div>


        {{/* Carousel */}}
        {{ with .Params.projectImages}}
        <div id="carouselControls" class="carousel carousel-dark slide mx-auto mb-5" data-bs-ride="carousel" data-bs-interval="false">
            {{/*  Indicators  */}}
            <div class="carousel-indicators">
                {{ $active := true }}
                {{ $i := 0 }}
                {{ range $.Params.projectImages }}
                    <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="{{ $i }}" class="{{ if $active }} active {{ $active = false }} {{ end }}" aria-current="true" aria-label="Image {{ add $i 1 }}"></button>
                    {{ $i = add $i 1 }}
                {{ end }}
            </div>
            
            {{/*  Carousel items  */}}
            <div class="carousel-inner">
                {{ $active := true }}
                {{ range $.Params.projectImages }}
                    {{ $resource := $.Resources.GetMatch . }}
                    {{ $image := $resource.Resize "x560" }}
                    {{ with $image }}
                    <div class="carousel-item {{ if $active }} active {{ $active = false }} {{ end }}">
                        <div class="d-flex justify-content-center"><img src="{{ .RelPermalink }}" alt="{{ $.Title }}" class="img-fluid mb-1"></div>
                    </div>
                    {{ end }}
                {{ end }}
            </div>

            {{/*  Prev / Next buttons  */}}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
            </button>        
        </div> 
        {{ end }}
        {{/* END - Carousel */}}

        {{ .Content }}
     
    </div>
{{ end }}