{{ define "main" }}
    <div class="container">
        {{ partial "jumbotron.html" . }}

        {{ if not .Params.gridLayout  }}
        
        {{/* Carousel */}}
        {{ with .Params.projectImages}}
        <div id="carouselControls" class="carousel carousel-dark slide mx-auto mb-5" data-bs-ride="carousel" data-bs-interval="false">
            {{/*  Indicators  */}}
            <div class="carousel-indicators">
                {{ $active := true }}
                {{ $i := 0 }}
                {{ range $.Params.projectImages }}
                    <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="{{ $i }}" class="{{ if $active }} active {{ $active = false }} {{ end }}" aria-current="true" aria-label="Image {{ add $i 1 }}"></button>
                    {{ $i = add $i 1 }}
                {{ end }}
            </div>
            
            {{/*  Carousel items  */}}
            <div class="carousel-inner">
                {{ $active := true }}
                {{ range $.Params.projectImages }}
                    {{ $resource := $.Resources.GetMatch . }}
                    {{ $image := $resource.Resize "x560" }}
                    {{ with $image }}
                    <div class="carousel-item {{ if $active }} active {{ $active = false }} {{ end }}">
                        <div class="d-flex justify-content-center"><img src="{{ .RelPermalink }}" alt="{{ $.Title }}" class="img-fluid"></div>
                    </div>
                    {{ end }}
                {{ end }}
            </div>

            {{/*  Prev / Next buttons  */}}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
            </button>        
        </div> 
        {{ end }}
        {{ end }}
        {{/* END - Carousel */}}

        {{ .Content }}
        
        {{/* Grid Layout */}}
        {{ if .Params.gridLayout }}
        <ul class="row flex-container list-unstyled">
            {{ range .Params.projectImages }}
            <li class="col-lg-4 col-md-12">
                <img src="{{ . }}" alt="" class="img-fluid img-thumbnail mb-4 mh-100 align-bottom">
            </li>                
            {{ end }}
        </ul>            
        {{ end }}
        {{/* END - Grid Layout */}}

    </div>
{{ end }}