<footer class="footer w-100 bg-light p-3 mt-5">
    <div class="w-75 mx-auto d-flex flex-column-reverse flex-lg-row justify-content-between ">
        <div class="mt-4 mt-lg-0 pt-1 me-lg-5">
            <!-- border-top: 1px solid rgb(216, 222, 233) -->
            <h5 class="fw-bold text-uppercase" >Myriam Tousignant</h5>
            <p>{{ .Site.Params.copyrightInfo }}</p>
        </div>
        <div class="d-flex flex-column flex-lg-row pe-lg-3">
            <div class="pe-lg-5 me-lg-5">
                <h5 class="text-uppercase">Réalisations</h5>
                <ul class="nav flex-column">
                    {{ partial "footer/link-footer" (dict "context" . "sections" .Site.Sections "linkSection" $.Section "title" "Expositions") }}
                    {{ partial "footer/link-footer" (dict "context" . "sections" .Site.Sections "linkSection" $.Section "title" "Projets") }}
                    {{ partial "footer/link-footer" (dict "context" . "sections" .Site.Sections "linkSection" $.Section "title" "Art public") }}
                    {{ partial "footer/link-footer" (dict "context" . "sections" .Site.Sections "linkSection" $.Section "title" "Médiations") }}
                    {{ partial "footer/link-footer" (dict "context" . "sections" .Site.Sections "linkSection" $.Section "title" "Livres d'artiste") }}
                </ul>
            </div>
        
            <div class="pt-3 pt-lg-0 pe-lg-5 me-lg-5">
                <h5 class="text-uppercase">Publications</h5>
                <ul class="nav flex-column">
                    {{ partial "footer/link-footer" (dict "context" . "sections" .Site.Sections "linkSection" $.Section "title" "Presse") }}
                    {{ partial "footer/link-footer" (dict "context" . "sections" .Site.Sections "linkSection" $.Section "title" "Publications") }}
                </ul>
            </div>
    
            <div class="pt-3 pt-lg-0 pe-lg-3">
                <h5 class="text-uppercase" >Biographie</h5>
                <ul class="nav flex-column">
                    {{ partial "footer/link-footer" (dict "context" . "sections" .Site.Sections "linkSection" $.Section "title" "Biographie & démarche") }}
                </ul>
            </div>        
        </div>
    </div>
</footer>