<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mt-1">
                    <a class="nav-item-social soc-instagram bg-light text-muted" target="blank" title="Instagram" href="{{ .Site.Params.instagram }}"></a>
                </li>

                <li class="nav-item">
                    {{ $pageTitle := "Petites mains" }}
                    {{ $pageUrl := "/projets/petites-mains/" }}
                    {{ $active := eq $.Title $pageTitle }}
                    <a class="nav-link {{ if $active }} fw-bolder {{ end }}" href="{{ $pageUrl }}">{{ $pageTitle }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>